* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Scroll bar configuration */

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background:  white;
}

body::-webkit-scrollbar-thumb {
    background-color: hsla(192, 100%, 9%);

    border-radius: 20px;

    border: 3px solid white;
}

/* General configuration */

main {
    /* Posição */
    display: flex;
    flex-direction: column;
}

h2 {
    /* Texto */
    font-size: 52px;
    color: hsl(192, 100%, 9%);
    font-family: Poppins;
}

h4 {
    /* Texto */
    font-size: 25px;
    color: hsl(207, 100%, 98%);
    font-family: Poppins;
}

.p1 {
    /* Texto */
    font-weight: 600;
    font-size: 22px;
    color: hsla(192, 100%, 9%, 0.6);
    font-family: "Open Sans";
}

.p2 {
    /* Texto */
    font-weight: 400;
    font-size: 16px;
    color: hsl(207, 100%, 98%);
    font-family: "Open Sans";
}

.but {
    /* Background */
    background-color: hsl(322, 100%, 66%);
    outline: none;
    border: 2px solid hsl(322, 100%, 66%);
    border-radius: 55px;
    box-shadow: 0px 3px 3px 5px rgba(0, 0, 0, 0.2);

    /* Tamanho */
    width: 450px;
    height: 75px;

    /* Texto */
    font-family: "Open Sans";
    color: white;
    font-size: 23px;
    font-weight: 700;

}

.but:hover {
    cursor: pointer;
    border: 2px solid hsl(321, 100%, 78%);
    background-color: hsl(321, 100%, 78%);
}

a {
    text-decoration: none;
}

/* Header */

header {
    /* Espaçamento */
    padding: 50px;

    /* Posição */
    display: flex;
    flex-direction: column;

}

/* Part 1 */

.conteinerH_1 {
    /* Posição */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.conteinerH_1 button {
    /* Background */
    background-color: white;
    outline: none;
    border: 2px solid hsl(322, 100%, 66%);
    border-radius: 25px;

    /* Tamanho */
    width: 150px;
    height: 45px;

    /* Texto */
    color: hsl(322, 100%, 66%);
}

.conteinerH_1 button:hover {
    cursor: pointer;

    color: hsl(321, 100%, 78%);
    border: 2px solid hsl(321, 100%, 78%);
}

/* Part 2 */

.conteinerH_2 {
    /* Texto */
    text-align: center;

    /* Tamanho */
    height: 700px;

    /* Posição */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteinerH_2 article {
    /* Posição */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteinerH_2_1 {
    /* Tamanho */
    width: 670px;

    /* Espaçamento */
    margin-top: 20px;
    margin-bottom: 50px;
}

/* Part 3 */

.conteinerH_3 {
    /* Posição */
    display: flex;
    flex-direction: column;
}

.conteinerH_3>figure {
    /* Posição */
    align-self: center;

    /* Espaçamento */
    margin-bottom: 50px;
}

.conteinerH_3_1 {
    /* Posição */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.conteinerH_3_1 h2 {
    font-size: 70px;
}

.conteinerH_3_1 p {
    text-align: center;
}

/* Body section */

section {
    display: flex;
    flex-direction: column;

}

/* Part 1 */

.conteinerS_1 {
    /* Posição */
    display: flex;
    flex-direction: row;
    align-items: center;

    /* Espaçamento */
    padding: 50px;

    /* Background */
    background-color: hsl(207, 100%, 98%);
}

.conteinerS_1 article {
    /* Espaçamento */
    margin-left: 30px;

    /* Tamanho */
    width: 1100px;
}

.conteinerS_1 figure {
    /* Espaçamento */
    margin-right: 30px;
    margin-left: 80px;

    /* Tamanho */
    width: 800px;
}

.conteinerS_1 > article h2{
    margin-bottom: 30px;
}

/* Part 2 */

.conteinerS_2 {
    /* Posição */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    /* Espaçamento */
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.conteinerS_2 article {
    /* Espaçamento */
    margin-left: 30px;

    /* Tamanho */
    width: 800px;
}

.conteinerS_2 figure {
    /* Espaçamento */
    margin-right: 30px;
    margin-left: 80px;

    /* Tamanho */
    width: 800px;
}

.conteinerS_2 > article h2{
    margin-bottom: 30px;
}

/* Part 3 */

.conteinerS_3 {
    /* Posição */
    display: flex;
    flex-direction: row;
    align-items: center;

    /* Espaçamento */
    padding: 50px;

    /* Background */
    background-color: hsl(207, 100%, 98%);
}

.conteinerS_3 article {
    /* Espaçamento */
    margin-left: 30px;

    /* Tamanho */
    width: 1100px;
}

.conteinerS_3 figure {
    /* Espaçamento */
    margin-right: 30px;
    margin-left: 80px;

    /* Tamanho */
    width: 800px;
}

.conteinerS_3 > article h2{
    margin-bottom: 30px;
}

/* Part 4 */

.conteinerS_4 {
    /* Posição */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

   /* Espaçamento */
    margin-top: 200px;
    margin-bottom: 200px;

    /* Tamanho */
    height: 300px;

    /* Texto */
    text-align: center;
}

/* Footer */

footer {
    /* Posição */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

    /* Espaçamento */
    padding: 50px;
    padding-top: 100px;

    /* Background */
    background-color: hsl(192, 100%, 9%);

    /* Tamanho */
    height: 500px;
}

/* Part 1 */

.conteinerF_1 {
    /* Posição */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /* Tamanho */
    width: 400px;
}

.conteinerF_1_1 {
    /* Posição */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Tamanho */
    width: 250px;

    /* Espaçamento */
    margin-top: 20px;
    margin-bottom: 20px;
}

.conteinerF_1_2 {
    /* Posição */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Tamanho */
    width: 240px;

    /* Espaçamento */
    margin-bottom: 80px;
}

.conteinerF_1 > nav {
    /* Posição */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-start;

    /* Tamanho */
    width: 120px;
}

/* Part 2 */

.conteinerF_2 {
    /* Posição */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* Espaçamento */
    margin-left: 50px;

    /* Tamanho */
    width: 435px;
    height: 200px;

}

[type="email"] {
    /* Tamanho */
    width: 70%;
    height: 50px;

    /* Background */
    border-radius: 5px;
    outline: none;
    border: none;

    /* Espaçamento */
    margin-right: 20px;
    padding: 5px;

    /* Texto */
    color: hsla(192, 100%, 9%, 0.6);
    font-size: 15px;
    font-family: "Open Sans";
}

[type="submit"] {
    /* Tamanho */
    width: 20%;
    height: 50px;

    /* Background */
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: hsl(322, 100%, 66%);

    /* Texto */
    color: hsl(207, 100%, 98%);
    font-size: 13px;
    font-family: "Open Sans";
}

[type="submit"]:hover {
    /* Background */
    cursor: pointer;
    background-color: hsl(321, 100%, 78%);
}

/* Desktop configuration */

@media screen and (max-width: 800px) {

    h2 {
        /* Texto */
        font-size: 30px;
    }
    
    h4 {
        /* Texto */
        font-size: 15px;
    }

    .p1 {
        /* Texto */
        font-size: 15px;
    }
    
    .p2 {
        /* Texto */
        font-size: 10px;
    }

    .but {
        /* Background */
        border-radius: 30px;
    
        /* Tamanho */
        width: 200px;
        height: 40px;
    
        /* Texto */
        font-size: 12px;
    }

    /* Header */

    /* Part 1 */

    .conteinerH_1 > figure{
        width: 30%;
    }

    .conteinerH_1 button {
        /* Background */
        border-radius: 25px;
    
        /* Tamanho */
        width: 100px;
        height: 30px;
    
        /* Texto */
        color: hsl(322, 100%, 66%);
    }

    /* Part 2 */

    .conteinerH_2 {
        /* Tamanho */
        height: 400px;
    }

    /* Part 3 */

    .conteinerH_3_1 h2 {
        font-size: 40px;
    }

    /* Body section */

    .conteinerS_1 {
        /* Espaçamento */
        padding: 10px;
    }

    /* Part 1 */

    .conteinerS_1 article {
        /* Espaçamento */
        margin-left: 10px;
    
        /* Tamanho */
        width: 1300px;
    }
    
    .conteinerS_1 figure {
        /* Espaçamento */
        margin-right: 30px;
        margin-left: 80px;
    
        /* Tamanho */
        width: 500px;
    }

    /* Part 2 */

    .conteinerS_2 {
        /* Espaçamento */
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
    
    }
    
    .conteinerS_2 article {
        /* Espaçamento */
        margin-left: 10px;
    
        /* Tamanho */
        width: 800px;
    }
    
    .conteinerS_2 figure {
        /* Espaçamento */
        margin-right: 15px;
        margin-left: 20px;
    
        /* Tamanho */
        width: 800px;
    }
    
    /* Part 3 */

    .conteinerS_3 {
        /* Espaçamento */
        padding: 10px;
    }
    
    .conteinerS_3 article {
        /* Espaçamento */
        margin-left: 10px;
    
        /* Tamanho */
        width: 1200px;
    }
    
    .conteinerS_3 figure {
        /* Espaçamento */
        margin-right: 10px;
        margin-left: 20px;
    
        /* Tamanho */
        width: 600px;
    }

    /* Part 4 */
    
    .conteinerS_4 {
        /* Espaçamento */
        margin-top: 80px;
        margin-bottom: 80px;
    
        /* Tamanho */
        height: 170px;
    }

    /* Footer */

    #mg{
        transform: translateY(8%);
    }

    footer {
        /* Espaçamento */
        padding: 10px;
        padding-top: 50px;
    
        /* Tamanho */
        height: 350px;
    }

    /* Part 1 */
    
    .conteinerF_1 {
        /* Tamanho */
        width: 200px;
    }
    
    .conteinerF_1_1 {
        /* Tamanho */
        width: 150px;
    
        /* Espaçamento */
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .conteinerF_1_2 {
        /* Tamanho */
        width: 140px;
    
        /* Espaçamento */
        margin-bottom: 40px;
    }
    
    .conteinerF_1 > nav {
        /* Tamanho */
        width: 90px;
    }

    a > img{
        width: 24px;
    }
    
    /* Part 2 */

    .conteinerF_2 {
        /* Espaçamento */
        margin-left: 30px;
    
        /* Tamanho */
        width: 350px;
        height: 120px;
    
    }
    
    [type="email"] {
        /* Tamanho */
        width: 70%;
        height: 30px;
    
        /* Espaçamento */
        margin-right: 10px;
        padding: 5px;
    
        /* Texto */
        font-size: 10px;
    }
    
    [type="submit"] {
        /* Tamanho */
        width: 20%;
        height: 30px;
    
        /* Background */
        border-radius: 5px;
    
        /* Texto */
        font-size: 7px;
    }
    
}

/* Cellphone configuration */

@media screen and (max-width: 450px) {

    h2 {
        /* Texto */
        font-size: 20px;
    }
    
    h4 {
        /* Texto */
        font-size: 15px;
    }

    .p1 {
        /* Texto */
        font-size: 15px;
    }
    
    .p2 {
        /* Texto */
        font-size: 10px;
    }

    /* Header */

    /* Part 1 */

    .conteinerH_1 > figure{
        width: 30%;
    }

    .conteinerH_1 button {
        /* Background */
        border-radius: 25px;
    
        /* Tamanho */
        width: 100px;
        height: 30px;
    
        /* Texto */
        color: hsl(322, 100%, 66%);
        font-size: 10px;
    }

    /* Part 2 */

    .conteinerH_2 {
        /* Tamanho */
        height: 450px;
    }

    /* Part 3 */

    .conteinerH_3_1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .conteinerH_3 > figure {
        /* Espaçamento */
        margin-bottom: 100px;
    }
    
    .conteinerH_3_1 > div > figure img{
        width: 30px;
    }

    .conteinerH_3_1 {
        /* Posição */
        flex-direction: column;
        justify-content: space-between;

       /* Tamanho */
        height: 400px;
    }

    .conteinerH_3_1 h2 {
        /* Texto */
        font-size: 60px;
        text-align: center;
    }
    
    .conteinerH_3_1 p {
        /* Texto */
        text-align: center;
    }

    section {
        display: flex;
        flex-direction: column;
    
    }

    /* Body section */

    /* Part 1 */

    .conteinerS_1 {
        /* Posição */
        flex-direction: column-reverse;
        justify-content: space-between;
    
        /* Espaçamento */
        padding: 10px;
    
        /* Background */
        background-color: hsl(207, 100%, 98%);

        /* Tamanho */
        height: 500px;
    }
    
    .conteinerS_1 article {
        /* Espaçamento */
        margin: 0px;
    
        /* Tamanho */
        width: 80%;

        /* Texto */
        text-align: center;
    }
    
    .conteinerS_1 figure {
        /* Espaçamento */
        margin: 0px;
    
        /* Tamanho */
        width: 90%;
    }

    .conteinerS_1 > article h2{
        margin-bottom: 15px;
    }

    /* Part 2 */

    .conteinerS_2 {
        /* Posição */
        flex-direction: column-reverse;
        justify-content: space-between;

        /* Espaçamento */
        padding: 10px;
        margin-top: 50px;
        margin-bottom: 50px;

        /* Tamanho */
        height: 400px;
    
    }
    
    .conteinerS_2 article {
        /* Espaçamento */
        margin-left: 10px;
    
        /* Tamanho */
        width: 80%;

        /* Texto */
        text-align: center;
    }
    
    .conteinerS_2 figure {
        /* Espaçamento */
        margin: 0px;
    
        /* Tamanho */
        width: 80%;
    }

    .conteinerS_2 > article h2{
        margin-bottom: 15px;
    }

    /* Part 3 */

    .conteinerS_3 {
        /* Posição */
        flex-direction: column-reverse;
        justify-content: space-between;

        /* Espaçamento */
        padding: 10px;

        /* Texto */
        text-align: center;

        /* Tamanho */
        height: 450px;
    }
    
    .conteinerS_3 article {
        /* Espaçamento */
        margin: 0px;
    
        /* Tamanho */
        width: 95%;
    }
    
    .conteinerS_3 figure {
        /* Espaçamento */
        margin: 0px;
    
        /* Tamanho */
        width: 90%;
    }

    .conteinerS_3 > article h2{
        margin-bottom: 15px;
    }

    /* Part 4 */ 

    .conteinerS_4 {
        /* Espaçamento */
        margin-top: 100px;
        margin-bottom: 100px;
    
        /* Tamanho */
        height: 120px;
    }

    .conteinerS_4 > h2 {
        font-size: 17px;
    }

    /* Footer */

    #mg{
        transform: translateY(10%);
    }

    footer {
        /* Posição */
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;

        /* Espaçamento */
        padding: 15px;
        padding-top: 30px;
    
        /* Tamanho */
        height: 400px;
    }
    
    /* Part 1 */

    .conteinerF_1 {
        /* Tamanho */
        width: 300px;

        /* Posição */
        align-items: center;

        /* Texto */
        text-align: center;
    }
    
    .conteinerF_1_1 {
        /* Tamanho */
        width: 150px;
    
        /* Espaçamento */
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .conteinerF_1_2 {
        /* Tamanho */
        width: 145px;
    
        /* Espaçamento */
        margin-bottom: 25px;
    }
    
    .conteinerF_1 > nav {
        /* Tamanho */
        width: 150px;

        /* Posição */
        align-self: center;
    }

    a > img{
        width: 32px;
    }

    /* Part 2 */
    
    .conteinerF_2 {
        /* Espaçamento */
        margin-left: 0px;
    
        /* Tamanho */
        width: 300px;
        height: 120px;

        /* Texto */
        text-align: center;
    
    }
    
    [type="email"] {
        /* Tamanho */
        width: 85%;
        height: 30px;
    
        /* Espaçamento */
        margin: 10px;
        padding: 5px;
    
        /* Texto */
        font-size: 10px;
    }
    
    [type="submit"] {
        /* Tamanho */
        width: 30%;
        height: 30px;
    
        /* Background */
        border-radius: 5px;
    
        /* Texto */
        font-size: 10px;
    }
    
}
